/* Import all theme styles for Storybook */
@import '../lib/tailwind.css';
@import '../lib/colors.css';
@import '../lib/colorsKrit.css';
@import '../lib/colorsNordGold.css';
@import '../lib/colorsHunter.css';
